.frontpage-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid purple; */
    gap: 20px;
}

/* PROFILE */
.frontpage-profile {
    max-width: 300px;
    /* border: 1px solid red; */
}
.frontpage-headshot {
    display: block;
    width: 100%;
    object-fit: cover;
    border: 1px solid gray;
    box-sizing: border-box;
}
.profile-text {
    display: flex;
    flex-direction: column;
}
.frontpage-name {
    font-size: 1.5em;
    /* font-variant: small-caps; */
    /* align-self: center; */
}
.profile-text-line {
    color: rgb(112, 112, 112);
    font-size: 0.9em;
}
.inline-logo {
    display: inline;
    max-height: 1em;
    vertical-align: middle;
}

/* MAIN CONTENT */
.frontpage-main-content {
    /* border: 1px solid red; */
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .frontpage-content {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .profile-text {
        align-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}