header {
    background-color: #6b6b6b;
}

.navigation-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.navlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}

.navlink:active {
    color: rgb(221, 221, 221);
}

.navlink--type-home {
    font-size: 1.5em;
}

.navlink--position-leftmost {
    margin-left: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navlink {
        font-size: 1em;
    }
    .navlink--type-home {
        font-size: 1.25em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .frontpage-content {
        flex-direction: column;
        align-items: center;
    }
    .profile-text {
        align-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}